span {
  font-size: 32px;
  font-weight: 500;
  /* background: #ebe0e0; */
}
img {
  width: 100%;
  /* height: auto; */
}
.main_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: #daafaf;
}
.count_div {
  width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: 3px solid black;
  background: linear-gradient(to right, #ede574, #e1f5c4);
}
.count_div .first_div {
  display: flex;
  border: 2px solid black;
  padding: 2px 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.count_div .sec_div {
  display: flex;
  border: 2px solid black;
  padding: 2px 8px;
  border-radius: 10px;
}
.count_div .third_div {
  display: flex;
  border: 2px solid black;
  padding: 2px 8px;
  border-radius: 10px;
}
/* .........img slider........... */
.slider_div {
  display: flex;
  width: 800px;
  background: linear-gradient(to right, #ede574, #e1f5c4);
}
.slider_div .images {
  width: 100px;
  height: 550px;
}
